#### Importing Data
#### Use these commands to import data from a variety of different sources and formats.

pd.read_csv(filename) | From a CSV file
pd.read_table(filename) | From a delimited text file (like TSV)
pd.read_excel(filename) | From an Excel file
pd.read_sql(query, connection_object) | Read from a SQL table/database
pd.read_json(json_string) | Read from a JSON formatted string, URL or file.
pd.read_html(url) | Parses an html URL, string or file and extracts tables to a list of dataframes
pd.read_clipboard() | Takes the contents of your clipboard and passes it to read_table()
pd.DataFrame(dict) | From a dict, keys for columns names, values for data as lists

#### Exporting Data
#### Use these commands to export a DataFrame to CSV, .xlsx, SQL, or JSON.

df.to_csv(filename) | Write to a CSV file
df.to_excel(filename) | Write to an Excel file
df.to_sql(table_name, connection_object) | Write to a SQL table
df.to_json(filename) | Write to a file in JSON format

#### Create Test Objects
#### These commands can be useful for creating test segments.

- pd.DataFrame(np.random.rand(10,5)) | 5 columns and 10 rows of random floats<br>
- pd.Series(my_list) | Create a series from an iterable my_list<br>
- date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)<br>

In [2]:
import pandas as pd
import numpy as np
pd.DataFrame(np.random.rand(10,5))

          0         1         2         3         4
0  0.446047  0.926830  0.397354  0.539185  0.731732
1  0.954116  0.985358  0.602756  0.547908  0.425641
2  0.830326  0.426221  0.400208  0.060195  0.786112
3  0.380174  0.714580  0.354383  0.450975  0.680061
4  0.703480  0.929301  0.987121  0.530212  0.961538
5  0.659887  0.620645  0.400033  0.493587  0.049436
6  0.144013  0.610761  0.584216  0.192613  0.201331
7  0.871204  0.571821  0.938485  0.863750  0.331762
8  0.088309  0.145859  0.389425  0.422433  0.787627
9  0.756833  0.495529  0.100838  0.800193  0.557347

In [6]:
#start and end
pd.date_range(start='1/1/2018', end='1/08/2018')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# start and periods(days)
pd.date_range(start='1/1/2018', periods=8)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

In [9]:
#Changed the freq (frequency) to 'M' (month end frequency).
pd.date_range(start='1/1/2018', periods=5, freq='M')
#freq can also be specified as an Offset object.
pd.date_range(start='1/1/2018', periods=5, freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
               '2019-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [8]:
#timezone tz
pd.date_range(start='1/1/2018', periods=5, tz='Asia/Tokyo')

DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
               '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
               '2018-01-05 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='D')

#### Data Cleaning
#### Use these commands to perform a variety of data cleaning tasks.

df.columns = ['a','b','c'] | Rename columns
pd.isnull() | Checks for null Values, Returns Boolean Arrray
pd.notnull() | Opposite of pd.isnull()
df.dropna() | Drop all rows that contain null values
df.dropna(axis=1) | Drop all columns that contain null values
df.dropna(axis=1,thresh=n) | Drop all rows have have less than n non null values
df.fillna(x) | Replace all null values with x
s.fillna(s.mean()) | Replace all null values with the mean (mean can be replaced with almost any function from the statistics module)
s.astype(float) | Convert the datatype of the series to float
s.replace(1,'one') | Replace all values equal to 1 with 'one'
s.replace([1,3],['one','three']) | Replace all 1 with 'one' and 3 with 'three'
df.rename(columns=lambda x: x + 1) | Mass renaming of columns
df.rename(columns={'old_name': 'new_ name'}) | Selective renaming
df.set_index('column_one') | Change the index
df.rename(index=lambda x: x + 1) | Mass renaming of index

#### Filter, Sort, and Groupby
#### Use these commands to filter, sort, and group your data.

df[df[col] > 0.5] | Rows where the column col is greater than 0.5
df[(df[col] > 0.5) & (df[col] < 0.7)] | Rows where 0.7 > col > 0.5
df.sort_values(col1) | Sort values by col1 in ascending order
df.sort_values(col2,ascending=False) | Sort values by col2 in descending order
df.sort_values([col1,col2],ascending=[True,False]) | Sort values by col1 in ascending order then col2 in descending order
df.groupby(col) | Returns a groupby object for values from one column
df.groupby([col1,col2]) | Returns groupby object for values from multiple columns
df.groupby(col1)[col2] | Returns the mean of the values in col2, grouped by the values in col1 (mean can be replaced with almost any function from the statistics module)
df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean) | Create a pivot table that groups by col1 and calculates the mean of col2 and col3
df.groupby(col1).agg(np.mean) | Find the average across all columns for every unique col1 group
df.apply(np.mean) | Apply the function np.mean() across each column
nf.apply(np.max,axis=1) | Apply the function np.max() across each row

#### Join/Combine
#### Use these commands to combine multiple dataframes into a single one.

df1.append(df2) | Add the rows in df1 to the end of df2 (columns should be identical)
pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None,levels=None, names=None, verify_integrity=False, copy=True)
df1.join(df2,on=col1,how='inner') | SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. 'how' can be one of 'left', 'right', 'outer', 'inner'

In [18]:
#Add the columns in df1 to the end of df2 (rows should be identical)
df1 = pd.DataFrame({'A': ['A0', 'A1'],
                   'B': ['B0', 'B1']},
                  index=[0, 1])
df2 = pd.DataFrame({'A': ['A4', 'A5'],
                   'B': ['B4', 'B5']},
                  index=[4, 5])
frames = [df1, df2]
result = pd.concat(frames)
result

    A   B
0  A0  B0
1  A1  B1
4  A4  B4
5  A5  B5

#### Statistics
#### Use these commands to perform various statistical tests. (These can all be applied to a series as well.)

df.describe() | Summary statistics for numerical columns
df.mean() | Returns the mean of all columns
df.corr() | Returns the correlation between columns in a DataFrame
df.count() | Returns the number of non-null values in each DataFrame column
df.max() | Returns the highest value in each column
df.min() | Returns the lowest value in each column
df.median() | Returns the median of each column
df.std() | Returns the standard deviation of each column
df.pct_change(periods=3) | Series and DataFrame have a method pct_change() to compute the percent change over a given number of periods